image: node:latest

stages:          # List of stages for jobs, and their order of execution
  - lint
  - test
  - build
  - deploy

cache:
  key:
    files:
      - package-lock.json
  paths:
    - .npm/
    
prepare:
  stage: .pre
  script: 
    - echo "Environment prepare"
    - npm install
    - echo "Enviroment is ready"

lint-job:   # This job also runs in the lint stage.
  stage: lint
  script:
    - echo "Linting code..."
    - npm run lint
    - echo "No lint issues found."

unit-test-job:   # This job runs in the test stage.
  stage: test    
  script:
    - echo "Running unit tests..."
    - npm run test:cov
    - echo "Unit test passed"

e2e-test-job:   # This job runs in the test stage.
  stage: test   
  script:
    - echo "Running e2e tests..."
    - npm run test:e2e
    - echo "E2e test passed"

build-job:       # This job runs in the build stage, which runs first.
  stage: build
  script:
    - echo "Compiling the code..."
    - npm run build
    - echo "Compile complete."

deploy-job:      # This job runs in the deploy stage.
  stage: deploy  # It only runs when *both* jobs in the test stage complete successfully.
  script:
    - echo "Deploying application..."
    - echo "Application successfully deployed."
